<form action="<%= cats_path %>" method="POST">
  <label for="cat_name">
    Name
  </label>
  <input 
    type="text"
    id="cat_name"
    name="cat[name]">
    
  <label for="cat_owner_id">
    Owner
  </label>
  
  <select name="cat[owner_id]" id="cat_owner_id">
    <% @humans.each do |human| %>
    <option value="<%= human.id %>"><%= human.fname %></option>
    <% end %>
  </select>
  <input type="submit" value="Make a cat">
    
</form>